.img_couvertureCarte{
    height: 80vh;
    width: 100vw;
    object-fit: cover;
}
.title_couvertureCarte{
    background-color: rgba(0, 0, 0, 0.327);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: Playfair Display;
    font-size: 46px;
    font-weight: 600;
    line-height: 1.1em;
    padding: 25px;
}
.categories{
    padding: 70px;
}
.title_categories{
    text-align: center;
    padding-bottom: 10PX;
    font-size: 46px;
    font-weight: 500;
    
}
.prix_titleCarte{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 200;
}
.espaces{
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    margin-left: 7px;
    margin-right: 7px;
}
.plats{
    border-bottom: thin dotted black ;
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    .img_couvertureCarte{
        height: 40vh;
        width: 100vw;
        object-fit: cover;
    }
    .title_couvertureCarte{
        background-color: rgba(0, 0, 0, 0.327);
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-family: Playfair Display;
        font-size: 46px;
        font-weight: 600;
        line-height: 1.1em;
        padding: 25px;
    }
}

/* media query mobile */

@media only screen and (max-width: 600px){
    .categories{
        padding: 30px;
    }
    
    .title_categories{
        text-align: center;
        padding-bottom: 10px;
        font-size: 26px;
        font-weight: 500;
        
    }
    .title_platsCarte{
        font-size: 16px;
    }
    .prix_titleCarte{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 200;
    }
    .content_platsCarte{
        font-size: 10px;
    }

}