.container_inputsTitle{
    width: 80vw;
    margin: auto;
    border-bottom:1px solid #E9E6E6 ;
}
.title_reservations{
    text-align: center;
}
.container_inputs{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.inputs {
    width: 350px!important;
}
.input_resa{
    display: none;
}

/* hours */
.container_resa{
    width: 80vw;
    margin: auto;
}

.container_titleHour{
    width: 80vw;
    margin: auto;
}
.title_hour{
    text-align: flex-start;
    padding: 25px;
}
.container_hour{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
}
.hour{
    text-align: center;
    width: 100px;
    padding: 5px;
    color: white;
    background-color: #e87511fa;
    border: 1px solid #838282;
    margin: 5px;
}
.containeur_btn{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
}


.btn_reservez {
    border-radius: 3px;
    background-color: #334c81;
    /* width: 180px; */
    height: 50px;
    color: #f1f1f1;
    cursor: pointer;
    border: none;
    text-align: center;
    
}
@media screen and (max-width:600px){
    .container_hour {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
}