@font-face {
  font-family:"PlayfairDisplay";   /*Can be any text*/
  src:url("./pages/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  
}
body {
  margin: 0;
  font-family: PlayfairDisplay, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-family:PlayfairDisplay;
  text-decoration: none;
  color: white;
}
a:hover {
  color: #FDCD00;
}
