.intituleAdmin{
    width: 80vw;
    margin: 10px auto 0 auto;
}
.section_CarteAdmin{
    width: 80vw;
    margin: 25px auto 10px auto;
    border: 1px solid #676565;
    padding: 25px;
}
.container_couvertureCarteAdmin{
    display: flex;
    justify-content: space-between;
}
.img_couvertureCarteAdmin{
    width: 15vw;;
    height: 100px;
    object-fit: cover;
}

.title_couvertureCarteAdmin{
    border: 1px solid #676565;
    background-color: #6765650f;
    text-align: center;
    padding: 20px;
    margin: 0 10px 0 10px;
    font-size: 1rem;
    width: 50vw;
    height: 100px;
}
.container_imageAdmin{
    padding: 0 25px 0 0;
}
.btn_modifierImageAdmin{
    display: flex;
    justify-content: flex-start;
    
}
.textModifier_imageAdmin{
    font-size: 12px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
/* navigation btns */
.navigation_AdminAdmin{
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 25px;
}
.btnAjouterAdmin, .btnModifierAdmin, .btnTrashAdmin, .btnEnregisteAdmin{
    width: 35px;
}
.navigation_flechesAdmin{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.btnFlecheAdmin{
    padding: 10px;
}
/* plats */
.categories_adminAdmin{
    border-top-style: dotted;
    margin-top: 20px;
    padding-top: 20px;
    
}
.categories_adminAdmin:nth-child(1){
    border-top-style: none;
}
.title_categoriesAdmin{
    text-align: flex-start;
    padding-bottom: 5px;
    font-size: 36px;
    font-weight: 400;
    
}
.platsAdmin{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding: 20px 0 20px 0;
}
.platsAdmin:nth-child(1){
    border-top:none;
}
.content_titleAdminCarte{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 45vw;
}
.title_plats,.content_plats,.prix_plats{
    border: 1px solid #676565;
    background-color: #6765650f;
    text-align: center;
    padding: 5px;
    margin: 0 10px 0 10px;
    font-size: 0.8rem;
    text-align: flex-start;
}
.title_plats{
    margin-bottom: 10px;
    height: 40px;
}
.content_plats{
    font-size: 0.7rem;
    
}
.prix_plats{
    width: 50px;
    height: 40px;
    text-align: center;
}
/* tableu ajouter carte */
.inputs_ajouterCarteAdmin{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.categorie,.title,.description,.prix{
    padding: 5px;
    margin-bottom: 5px;
}
.description{
height: 100px;
}
.prix{
    width: 50px;
    
}
.input_ajouterIconsAdmin{
    text-align: end;
}  
@media screen and (max-width:600px) {
    .intituleAdmin {
        width: 80vw;
        margin: 25px auto 0 auto;
    }
    .section_Admin {
        width: 90vw;
        margin: 5px auto 10px auto;
        border: 1px solid #676565;
        padding: 25px;
    }
    .categories_adminAdmin {
        border-top-style: dotted;
       padding: 20px;
       margin: 0;
    }
    .title_categoriesAdmin{
        text-align: center;
        padding-bottom: 5px;
        font-size: 36px;
        font-weight: 400;
        
    }
    .container_couvertureCarteAdmin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img_couvertureCarteAdmin{
        width: 50vw;;
        height: 100px;
        object-fit: cover;
    }
    .btn_modifierImageAdmin {
        display: flex;
        justify-content: center;
    }
    
    .title_couvertureCarteAdmin{
        border: 1px solid #676565;
        background-color: #6765650f;
        text-align: center;
        padding: 20px;
        margin: 10px 0 10px 0px;
        font-size: 1rem;
        width: 60vw;
        height: 60px;
    }
    .container_imageAdmin{
        padding: 0 0 0 0;
    }
    .platsAdmin {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid;
        padding: 20px 0 20px 0;
    }
    .content_titleAdminCarte {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 45vw;
    }
    .title_plats {
        margin-bottom: 10px;
        font-size: 0.8rem;
        height: 60px;
    }
    .content_plats {
        font-size: 0.6rem;
        height: 70px;
    }
    .prix_plats {
        margin-top: 10px;
        height: 40px;
    
    }

}