.intituleAdmin{
    width: 80vw;
    margin: 10px auto 0 auto;
}
.section_MenuAdmin{
    width: 80vw;
    margin: 25px auto 10px auto;
    border: 1px solid #676565;
    padding: 25px;
}
.container_couvertureMenuAdmin{
    display: flex;
    justify-content: space-between;
}
.img_couvertureMenuAdmin{
    width: 15vw;;
    height: 100px;
    object-fit: cover;
}
.title_couvertureMenuAdmin{
    border: 1px solid #676565;
    background-color: #6765650f;
    text-align: center;
    padding: 20px;
    margin: 0 10px 0 10px;
    font-size: 1rem;
    width: 50vw;
    height: 100px;
}
.container_imageAdmin{
    padding: 0 25px 0 0;
}
.btn_modifierImageAdmin {
    display: flex;
    justify-content: flex-start;
    
}
.btn_ajouterImageAdmin{
    display: flex;
    justify-content: center;
}
.textAjouter_Admin{
    font-size: 12px;
    width:150px;
    margin-top: auto;
    margin-bottom: auto;
}
.textModifier_imageAdmin{
    font-size: 12px;
    width: 100px;
    margin-top: auto;
    margin-bottom: auto;
}
.input_active{
    
    width: 25px;
    height: 25px;
    margin:5px;
}


/* menu */
.menuAdmin{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding: 20px 0 20px 0;
}
.menuAdmin:nth-child(1){
    border-top:none;
}
.content_titleAdminMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50vw;
}
.title_menuAdmin,.content_menuAdmin,.price_menuAdmin{
    border: 1px solid #676565;
    background-color: #6765650f;
    text-align: center;
    padding: 5px;
    margin: 0 10px 0 10px;
    font-size: 1rem;
    text-align: flex-start;
}
.title_menuAdmin{
    margin-bottom: 10px;
    height: 40px;
}
.content_menuAdmin{
    font-size: 0.8rem;
    height: 50px;
}
.price_menuAdmin{
    height: 40px;
    width: 50px;
    text-align: center;
}
/* tableu ajouter menu */
.inputs_ajouterMenuAdmin{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.categorie,.title,.description,.prix{
    padding: 5px;
    margin-bottom: 5px;
}
.description{
height: 100px;
}
.prix{
    width: 50px;
    
}
.input_ajouterIconsAdmin{
    text-align: end;
}   



@media screen and (max-width:600px) {
    .intituleAdmin {
        width: 80vw;
        margin: 25px auto 0 auto;
    }
    .section_MenuAdmin {
        width: 90vw;
        margin: 5px auto 10px auto;
        border: 1px solid #676565;
        padding: 25px 0 25px 0 ;
    }



    .container_couvertureMenuAdmin{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container_imageAdmin{
        padding: 0 0 0 0;
    }

    .img_couvertureMenuAdmin{
        width: 50vw;;
        height: 100px;
        object-fit: cover;
    }
  
    
    .title_couvertureMenuAdmin{
        border: 1px solid #676565;
        background-color: #6765650f;
        text-align: center;
        padding: 20px;
        margin: 10px 0 10px 0px;
        font-size: 1rem;
        width: 60vw;
        height: 60px;
    }
    
    .menuAdmin {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid;
        padding: 20px 0 20px 0;
    }
    .content_titleAdminMenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50vw;
    }
    .title_menuAdmin {
        margin-bottom: 10px;
        font-size: 0.8rem;
        height: 60px;
    }
    .content_menuAdmin {
        font-size: 0.6rem;
        height: 70px;
    }
    .price_menuAdmin {
        margin-top: 10px;
        height: 40px;
    
    }

}